body {
    background-color: #ffffff;
}

header {
    height: 100px;
    padding-left: 20px;
}
header .col {
    margin-left: 20px;
    background-color: #44dddd;
}

.logo {
    width: 80px;
    margin-top: 20px;
}
main {
    width: 100%;
}
footer {
    color: #ddd;
    background-color: #555;
    height: 100px;
    padding-left: 20px;
}
.container {
    width: 90%;
}
.row {
    background-color: #dddd44;
}
.col-lg-9, .col-6 {
    background-color: #44dddd;
    
    
}

.inhalt-box {
    display: inline-flex;
    /* background-color: #dddddd; */
    width: 48%;
    height: 95%;
    margin-top: 10px;
    margin-left: 5px;
}
.inhalt-box-small {
    display: inline-flex;
    /* background-color: #dddddd; */
    width: 38%;
    height: 95%;
    margin-top: 10px;
    margin-left: 5px;
}
.inhalt-box-large {
    display: inline-flex;
    /* background-color: #dddddd; */
    width: 58%;
    height: 95%;
    margin-top: 10px;
    margin-left: 5px;
}

.bild {
    display: inline-flex;
    width: 640px;
    height: 400px;
    background-color: #ade;
}
img {
    width: 100%;
}


.bg-hell {
    background-color: #ffffff;
    padding-left: 10px;
    
}
.bg-dunkel {
    background-color: #f3f3f3
    ;
    padding-left: 10px;
    
}
.zeile {
    display:inline-flex;
    width: 100%;
    /* height: 600px; */
}
