body {
    background-color: #ffffff;
}
.container {
    width: 98%;
    /* background-color: #ddffff; */
    border: 2px solid #ccc;
}

header {
    background-color: #ffffff;
    height: 130px;
    padding-left: 20px;
    
}

.logo {
    width: 80px;
    margin-top: 20px;
    margin-left: 20px;
}

.col-lg-6 {
   /*  background-color: #eecccc; */
    padding: 20px;
    border: 1px solid #666;
}

#home {
    display: block;
    position: relative;
    top: -200px;
}
footer {
    color: #ddd;
    background-color: #555;
    height: 100px;
    padding-left: 20px;
}

.bg-hell {
    background-color: #ffffff;
    padding-left: 10px;
    
}
.bg-dunkel {
    background-color: #f3f3f3;
    padding-left: 10px;
    
}

/* #text {
    order: 3;
}
#bild {
    order: 2;
} */

aside {
    padding-top: 20px;
    border: 10px solid #666;
}
aside li {
    padding-right: 30px;
}
.col-lg-3 {
    padding: 20px;
}

/* aside:hover {
    color: red;
    box-shadow: inset 0 0 10px 5px  #666;
} */

